.form__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: inherit;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.form__field::placeholder {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}

.form__field::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}

.form__field::-moz-placeholder {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}

.form__field::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}

@media (min-width: 768px) {
  .form__field {
    font-size: 14px;
    line-height: 17px;
  }

  .form__field::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .form__field::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .form__field::-moz-placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .form__field::-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
  }
}
